name: .NET Core Deploy to IIS

on:
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '6 .0.x'

      # Build the project
      - name: Build with dotnet
        shell: cmd
        run: dotnet build --configuration Release

      # Publish the project
      - name: Publish with dotnet
        shell: cmd
        run: dotnet publish -c Release -o .\myapp

      # Copy publish output to IIS folder
      - name: Deploy to IIS
        shell: powershell
        run: |
          $source = "$(pwd)\myapp"
          $destination = "C:\www\githubActionDemo.com"

          Write-Host "Copying files to IIS folder..."
          Copy-Item $source\* $destination\ -Recurse -Force

          Write-Host "Restarting IIS..."
          iisreset
